.container {
    margin: 50px 0 ;
    

}

.card{
    margin: 0 2% !important;
    
}
.text1{
    color:#88B2FF;
}

.Infected {
    border-bottom: 10px solid rgb(136,178,255);
}
.Recovered {
    border-bottom: 10px solid rgb(131, 245, 44);
}
.Deaths  {
    border-bottom: 10px solid rgb(254, 7, 58);
}



@media(max-width: 770px){
    .card{
        margin: 2% 0 !important;
    }
}